html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  font-weight: $base-font-weight;
  background-color: $base-background-color;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  font-family: $base-font-family;
  font-size: $btn-font-size;
  border:none;
  cursor: pointer;
}

input,
textarea,
select {
  &:focus {
    outline: none;
  }
}

select{
  cursor:pointer;
}
