.form-container {
  padding: 15px;
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 2px $box-shadow-color;
  min-height: 100px;
  background-color: $form-background-color;
}

.form-input-fields {
  border-bottom: 1px solid $border-bottom-color;
  padding: 5px 0 15px 0;
  display: flex;
  flex-direction: column;
}

.form-input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-input-field {
  padding: 12px;
  border: 1px solid $border-bottom-color;
  font-family: $base-font-family;
  font-size: $input-control-font-size;
  border-radius: 2px;
}

.form-input-field-textarea{
    @extend .form-input-field;
    min-height: 120px;
}

.form-input-field-checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input[type=checkbox] {
        width:18px;
        height: 18px;
    }
}

.form-input-field-container-datepicker{
    @extend .form-input-field-container;
    align-self: flex-end;
}

.form-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0 0;
}

.form-control{
    height: $list-item-control-height;
    line-height: $list-item-control-line-height;
    width: $list-item-control-width;
    text-align: center;
    background-color:$list-item-manage-background-color;
    color: $list-item-control-color;
    font-size: $controls-font-size;
  }
  
  .form-control-link{
    @extend .form-control;
    background-color: $button-cancel-background-color;
  }

  .form-control-button{
    @extend .form-control;
    background-color: $button-primary-background-color;
  }
.form-validation-error {
  color: red;
  font-size: 12px;
}
