.form-container {
  @extend .generic-container;
}

.form{
  padding: 5px 15px 15px 15px;
}

.top-title {
  @include flexbox($justify-content: center);
  padding: 10px 0px;
  background-color: $form-title-background-color;
  color: $form-title-color;
}

.form-input-fields {
  @include flexbox($flex-direction: column);
  border-bottom: 1px solid $border-color;
  padding: 5px 0 15px 0;
}

.form-input-field-container {
  @include flexbox($flex-direction: column);
  margin-bottom: 25px;
}

.form-input-field {
  padding: 10px;
  border: 1px solid $border-color;
  font-family: $base-font-family;
  font-size: $input-control-font-size;
  border-radius: 2px;
}

.form-input-field-textarea {
  @extend .form-input-field;
  min-height: 120px;
}

.form-input-field-checkbox {
  @include flexbox($align-items: center, $justify-content: flex-end);
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
}

.form-input-field-container-datepicker {
  @extend .form-input-field-container;
  align-self: flex-end;
  @media screen and (max-width: 735px) {
    width: 100%;
    .react-datepicker-wrapper{
      width: 100%;
    }
  }
}

.form-controls {
  @include flexbox($align-items: center, $justify-content: space-between);
  padding: 15px 0 0 0;
}

.form-control-link {
  @extend .control-element;
  background-color: $button-cancel-background-color;
}

.form-control-button {
  @extend .control-element;
  background-color: $button-primary-background-color;
}
.form-validation-error {
  color: $validation-error-color;
  font-size: $validation-error-font-size;
}