main {
  max-width: $main-width;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 5px 0px;
}

.add-page-top {
  display: flex;
  justify-content: center;
  padding: 15px 0px 5px 0px;
}




