.list-container {
  @include flexbox($flex-direction: column, $flex-grow: 1, $flex-wrap: wrap, $justify-content: space-between);
}

.list-item-container {
  @extend .generic-container;
  padding: 20px;
  border:none;
}

.list-item-details {
  @include flexbox($flex-direction: column);
  border-bottom: 1px solid $border-bottom-color;
  padding: 5px 0 15px 0;
}

.list-item-details-row {
  @include flexbox();

  label {
    width: 110px;
  }

  label,
  p {
    padding: 5px 10px 5px 0px;
  }
}

.list-item-controls {
  @include flexbox($align-items: center, $justify-content: space-between);
  padding: 15px 0 0 0;
}

.list-item-control-link {
  @extend .control-element;
}

.list-item-control-btn {
  @extend .control-element;
  background-color: $button-delete-background-color;
}
