//add button icon
.add-page {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  > a {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  > i {
    font-size: 20px;
  }

  &:hover {
    background-color: $icon-hover-background-color;
    color: $icon-hover-color;
    transition: 0.5s;
    cursor: pointer;
  }
}


