.generic-container {
  margin: 20px 0;
  border-radius: $border-radius;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  min-height: 100px;
  background-color: $generic-container-background-color;
  border: 3px solid $green;
}

.control-element {
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  background-color: $control-element-background-color;
  color: $control-element-color;
  font-size: $control-element-font-size;
  border-radius: $border-radius;
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: stretch,
  $flex-wrap: nowrap,
  $flex-grow: 0
) {
  @if not($flex-direction == row) {
    flex-direction: $flex-direction;
  }
  @if not($justify-content == flex-start) {
    justify-content: $justify-content;
  }
  @if not($align-items == stretch) {
    align-items: $align-items;
  }
  @if not($flex-wrap == nowrap) {
    flex-wrap: $flex-wrap;
  }
  @if not($flex-grow == 0) {
    flex-grow: $flex-grow;
  }
  display: flex;
}
