// variables

// <-----  colors  ----->
$base-backgroud-color: #fff;
$base-color: #555;

$header-backgroud-color: #e52b50;
$header-color: #fff;

$box-shadow-color: #c5c5c5;
$border-bottom-color: #c6c6c6;
// <-----  typography  ----->
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$h1-font-size:1.825em;
$h1-font-weight: 700;

$h2-font-size:1.7375em;
$h2-font-weight: 500;

$h3-font-size:1.25em;


// <-----  components  ----->
//main
$main-width:61.25em;

//form
//$input-control-border-color:#c6c6c6;
$input-control-font-size: 1em;

//item
$label-width: 110px;
$manage-page-background-color: #e52b50; 
$manage-page-color: #fff;

//add-page-icon
$icon-hover-background-color: #e52b50;
$icon-hover-color: #fff;