// variables

// <-----  colors  ----->

$lighter-gray:#f5f5f5; //body
$light-gray:#c5c5c5;//box-shadow
$gray: #a0b3b0; //cancel btn
$dark-gray: #333; //maincolor
$green: #1ab188;
$white: #fff;
$red:#e52b50;

// <-----  typography  ----->
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$h1-font-size:1.825em;
$h1-font-weight: 700;

$h2-font-size:1.5375em;
$h2-font-weight: 500;

$h3-font-size:1.25em;

$btn-font-size: 0.875em;
$control-element-font-size:0.875em;

$validation-error-font-size:0.75em;

// <-----  common  ----->
//border
$border-color: $light-gray;

//border radius
$border-radius:2px;

//links-buttons
$button-primary-background-color: $green;
$button-primary-color: $white;

$button-delete-background-color: $red;
$button-cancel-background-color: $gray;

//container
$generic-container-background-color: $white;
$generic-container-height:225px;
$generic-container-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
$control-element-color: $white;
$control-element-background-color: $green;


// <-----  components  ----->
//main
$base-background-color: $lighter-gray;
$base-color: $dark-gray;
$main-width:736px;

//header
$header-backgroud-color: $green;
$header-color: $white;

//form
$form-title-background-color: $green;
$form-title-color: $white;
$input-control-font-size: 1em;

//add-page-icon
$icon-hover-background-color: $green;
$icon-hover-color: $white;

//footer
$footer-background-color:$dark-gray;
$footer-color: $white;

//validation error
$validation-error-color: $red;